.idea
.vscode
frontend/node_modules
frontend/.next
gateway/node_modules
services/analytics-service/node_modules
services/notification-service/node_modules
services/search-indexer/node_modules
services/products-service/node_modules
services/users-service/node_modules
Docker/infrastructure/data
gateway/tsconfig.tsbuildinfo

frontend/eslint.config.mjs
frontend/next-env.d.ts
frontend/next.config.ts

Docker/infrastructure/kafka1
Docker/infrastructure/kafka2
Docker/infrastructure/kafka3